<%- include('../partials/head.ejs') %>  
<title>Nastavit nové heslo</title>
<meta name="robots" content="noindex" />
</head>


<body>
    <%- include('../partials/home_navbar.ejs', {user: null}) %>
    <div class="w-full bg-grey-500">
        <div class="container mx-auto py-8">
            <div class="w-96 mx-auto bg-white rounded shadow">
                <div class="mx-16 py-4 px-8 text-black text-xl font-bold border-b border-grey-500 text-center">Obnovit heslo</div>
                <div id="register" class="">
                    <form action="/users/reset_password" method="post" class="flex flex-col justify-center items-center">
                        <input name="token" value="<%=locals.token%>" class="hidden">
                        <input name="email" value="<%=locals.email%>" class="hidden">
                        <div class="py-2 px-4">
                            <label class="block text-grey-darker text-sm font-bold mb-2">Tvoje nové heslo</label>
                            <input type="password" name="new_password" class="justify-center items-center" placeholder="Silné heslo" >
                        </div>
                        <div class="py-2 px-4">
                            <label class="block text-grey-darker text-sm font-bold mb-2">Tvoje nové heslo znovu</label>
                            <input type="password" name="new_password_again" class="justify-center items-center" placeholder="Silné heslo znovu" >
                        </div>
                        <div class="py-2 px-4 items-center justify-center">
                            <button type="submit" class="mb-2 mx-16 rounded-full py-1 px-5 text-center font-bold bg-gradient-to-r text-white from-red-600 to-gray-800  hover:from-gray-800 hover:to-red-600">Nastavit heslo</button> <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<%- include('../partials/footer_absolute.ejs') %>
              