<%- include('partials/head.ejs') %>

  <body>
    <div class="w-full bg-grey-500">
        <div class="container mx-auto py-8">
            <div class="w-96 mx-auto bg-white rounded shadow">
                <div class="mx-16 py-4 px-8 text-black text-xl font-bold border-b border-grey-500 text-center">Registrace</div>
                <div id="register" class="">
                    <form action="/users/register" method="post" class="flex flex-col place-content-center items-center">
                        <div class="py-2 px-4">
                            <label class="block text-grey-darker text-sm font-bold mb-2">Vaše in-game jméno</label>
                            <input type="text" name="name" id="register_name" class="place-content-center items-center" placeholder="Jméno" value="<%= typeof name != 'undefined' ? name : '' %>">
                        </div>
                        <div class="py-2 px-4">
                            <label class="block text-grey-darker text-sm font-bold mb-2">Váš e-mail</label>
                            <input type="email" name="email" id="register_email" class="place-content-center items-center" placeholder="E-mail" value="<%= typeof email != 'undefined' ? name : '' %>">
                        </div>
                        <div class="py-2 px-4">
                            <label class="block text-grey-darker text-sm font-bold mb-2">Vaše heslo</label>
                            <input type="password" name="password" id="register_pass" class="place-content-center items-center" placeholder="Heslo" value="<%= typeof name != 'undefined' ? name : '' %>">
                        </div>
                        <div class="py-2 px-4">
                            <label class="block text-grey-darker text-sm font-bold mb-2">Vaše heslo znovu</label>
                            <input type="password" name="password2" id="register_pass_check" class="place-content-center items-center" placeholder="Heslo novu" value="<%= typeof name != 'undefined' ? name : '' %>">
                        </div>
                        <div class="py-2 px-4 place-content-center">
                            <button type="submit" id="register button" class="mb-2 mx-16 rounded-full py-1 px-24 text-center font-bold bg-gradient-to-r text-white from-red-600 to-gray-800  hover:from-gray-800 hover:to-red-600">REGISTROVAT</button> <br>
                            <a id="login_instead" class="mb-2 mx-16 rounded-full py-1 px-24" href="/login">Login instead</a>
                        </div>
                        <%- include("./partials/messages") %>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>