<%- include('../partials/head.ejs') %>  
<title>P콏ihl치코en칤</title>
<meta name="description" content="Turnaj vyhr치l t칳m Curanki. Cel칳 turnaj byl odstreramov치n na Twitchi a nakonec se konalo slavnostn칤 p콏ed치n칤 cen.">
</head>

<body class="flex flex-col h-screen bg-white min-h-full">
    <%- include('../partials/home_navbar.ejs', {user: user}) %>
    <div class="flex flex-col flex-1 items-center">
        <div class="sm:w-5/12 flex flex-col space-y-7">
            <div class="t1 ml-0 mt-12 text-center bg-gradient-to-r pt-3">Valorant: 2022</div>
            <div class="t3 ml-0">
                <span class="font-semibold">Druh칳 turnaj byl ve h콏e Valorant, kter칳 m캩l sice men코칤 hr치캜skou 칰캜ast, ale mnohem v캩t코칤 div치ckou 칰캜ast na Twitchi.</span><br>Celkem 8 t칳m콢 se na p콏elomu dubna a kv캩tna utkalo ve virtu치ln칤m sv캩t캩, aby rozhodlo, kdo je ten nejlep코칤. Po 3 t칳dnech boj콢, ve kter칳ch v코echny t칳my bojovali, co to 코lo se do Superfin치le trunaje dostaly dva t칳my BUNGA team a Curanki. Curanki nakonec vyhr치li a BUNGA team tak skon캜ili po bl칤zk칠 bitv캩 a druz칤. Svoji 캜est obh치jili tak칠 Pragov치ci, kter칳m se poda콏ilo urvat 3. m칤sto. <br>
            </div>
            <img src="/images/2022_scoreboard.png" class="border-0.5 shadow-sm rounded-lg sm:hover:scale-150 hover:shadow-2xl hover:transition-all">
            <div class="t3 ml-0">
                Po turnaji se v캩t코ina t칳m콢 se코la v Proseck칠m amfite치tru na p콏ed치n칤 cen a pod캩kov치n칤. Hlavn칤 cenou byl 3D ti코t캩n칳 poh치r a v코ichni 칰캜astn칤ci dostali medaile a n캩jakou mlsku 游땖
            </div>
            
            <div id="default-carousel" class="relative pt-4 py-6" data-carousel="static">
                <!-- Carousel wrapper -->
                <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                    <!-- Item 1 -->
                    <%     locals.files.forEach(function (file) { %>
                        <%- include('../partials/carousel_item', {image: `/images/val-ceny/${file}`}) %>  
                    <% });  %>
                <!-- Slider indicators -->
                <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
                    <button type="button" class="w-3 h-3 rounded-full bg-white dark:bg-gray-800" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                    <%     for (let i=1;i<locals.files.length;i++) { %>
                        <%- include('../partials/carousel_slide_to', {num: i}) %>  
                    <% };  %>
                </div>
                <!-- Slider controls -->
                <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev="">
                    <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none duration-75">
                        <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                        <span class="sr-only">Previous</span>
                    </span>
                </button>
                <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next="">
                    <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none duration-75">
                        <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                        <span class="sr-only">Next</span>
                    </span>
                </button>
            </div>

        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</body>
